<ion-header>
    <ion-toolbar>
        <ion-title>restaurent</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="heading">Restaurant-1</h1>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="bg_color">
                    <div class="bg_overlay">
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                         <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="8">
                 <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>
            <ion-col size="4">
                <ion-button shape="round" color="success">Add+</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="bg_color">
                    <div class="bg_overlay">
                        <!--                    <h3 class="image_text">spicy food</h3>-->
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                         <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
         <ion-row>
            <ion-col size="8">
                 <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>
            <ion-col size="4">
                <ion-button shape="round" color="success">Add+</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="bg_color">
                    <div class="bg_overlay">
                        <!--                    <h3 class="image_text">spicy food</h3>-->
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                         <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
         <ion-row>
            <ion-col size="8">
                 <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>
            <ion-col size="4">
                <ion-button shape="round" color="success">Add+</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>



</ion-content>
