<ion-header>
    <ion-toolbar>
        <ion-title>restaurent</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="bg_color">
                    <div class="bg_overlay">
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                         <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                       <div class="button_overlay"><input class="restaurant_button" type="button" value="More Info"></div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid></ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="bg_color">
                    <div class="bg_overlay">
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                         <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                        <div class="button_overlay"><input class="restaurant_button" type="button" value="More Info"></div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid></ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="bg_color">
                    <div class="bg_overlay">
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                         <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                        <div class="button_overlay"><input class="restaurant_button" type="button" value="More Info"></div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid></ion-grid>


</ion-content>
