<ion-header>
    <ion-toolbar>
        <ion-title>restaurent</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide><ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide><ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>

    <ion-grid class="align_grid">
        <ion-row>
            <ion-col>
                <input  class="more_info" type="button" value="More Info"
                        (click)="restaurant_detail()" routerDirection="forward">
            </ion-col>
        </ion-row>
    </ion-grid>

                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>

    <ion-slides>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide><ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide><ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>

    <ion-grid class="align_grid">
        <ion-row>
            <ion-col>
                <input class="more_info" type="button" value="More Info"
                    (click)="restaurant_detail()" routerDirection="forward">
            </ion-col>
        </ion-row>
    </ion-grid>

                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>

    <ion-slides>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide><ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide><ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>

    <ion-grid class="align_grid">
        <ion-row>
            <ion-col>
                <input class="more_info" type="button" value="More Info"
                       (click)="restaurant_detail()" routerDirection="forward">
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
