<ion-header>
    <ion-toolbar>
        <ion-title>restdetail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>


        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="restaurants_image">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>

    <ion-grid>
        <ion-row style=" margin-left: 4%;" class="page_overlay">

            <ion-col size="8">
                <h4 class="restaurant_name">Restaurant Name Restaurant <span class="rating">4.5</span>
                    <p class="restaurant_type">Types of restaurant <br> <a class="restaurant_detail">Restaurant Detail</a></p>
                </h4>
            </ion-col>

            <ion-col size="4">
                <input class="menu_button" type="button" value="View Menu">
            </ion-col>
            <ion-row>
                <ion-col class="address">
                    <b>Restaurant Address :</b> <a class="restaurant_address"> complete address of restaurant </a>
                    <b class="contact"> Contact Number :</b> <a class="number"> 90 87 465231, 85 20 321548</a>
                </ion-col>
            </ion-row>
            <ion-grid>
                <ion-row>
                    <ion-col style=" text-align: center;">
                        <ion-icon name="time" class="icon_size" color="warning"></ion-icon>
                        <br>
                        <ion-label class="icon_text">10 AM - 11 PM</ion-label>
                    </ion-col>

                    <ion-col></ion-col>
                    <ion-col></ion-col>

                    <ion-col style=" text-align: center;">
                        <ion-icon name="heart" class="icon_size"></ion-icon>
                        <br>
                        <ion-label class="icon_text">Add to Favorite</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <hr class="hr_row">

            <ion-grid style="margin-top: -20px;">
                <ion-row>
                    <ion-col>
                        <h5>Need to know</h5>
                        <div style="margin-left: 10%;">
                            <a class="need">⚫ &nbsp; Serves : </a> &nbsp; <a
                                style="color: #2dd36f;font-size:13px; ">Veg </a> &
                            <a style="color: red;font-size:13px;">Non Veg</a><br>
                            <a class="need">⚫ &nbsp; Week Off : </a> &nbsp;<a style="color: #3a7be0; font-size:13px;">
                            Monday</a><br>
                            <a class="need">⚫ &nbsp; Special Dish Veg : </a> &nbsp;<a
                                style="color: #3a7be0; font-size:13px;"> Paneer Kopta</a><br>
                            <a class="need">⚫ &nbsp; Special Dish Non Veg : </a> &nbsp;<a
                                style="color: red; font-size:13px;"> Chicken Chili</a><br>
                            <a class="need">⚫ &nbsp; Today's Special : </a> &nbsp;<a
                                style="color: #3a7be0; font-size:13px;"> Aaloo Chhole </a><br>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-row>

        <ion-grid>
            <ion-row>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>
    </ion-grid>
</ion-content>



