<ion-app>
    <ion-content>

        <div id="bg_image">
            <div class="bg_overlay">

                <ion-grid class="logo">
                    <img class="logo_align" src="/assets/icon/foodlogo.png">
                </ion-grid>

                <div>
                    <form [formGroup]="submitform" (ngSubmit)="OnSubmit()">

                        <ion-grid class="main_grid">
                            <ion-row>
                                <ion-col>
                                    <div class="form-field">
                                        <ion-input class="login_input" type="text" formControlName="Number"
                                                   placeholder="Mobile Number" required></ion-input>
                                    </div>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col>
                                    <div class="form-field">
                                        <ion-input class="login_input" type="password" formControlName="password"
                                                   placeholder="Password" required></ion-input>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-grid class="submit-btn">
                            <ion-row>
                                <ion-col>
                                    <div class="form-field">
                                        <ion-button type="submit" [routerLink]="['/tabs/tab1']" expand="block" shape="round" color="success"
                                                    [disabled]="!submitform.valid" >Login
                                        </ion-button>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </form>
                </div>
                <hr class="hr_line">
                <div>
                    <h6 class="fgt_pwd" (click)="forgetpwdlink()" routerDirection="forward">Forget Password..?</h6>
                </div>


                <!--                <ion-grid class="blue_btn">-->
                <!--                    <ion-row>-->
                <!--                        <ion-col size="12">-->
                <!--                            <ion-button [routerLink]="['/signup']" expand="block" color="secondary">New Registration-->
                <!--                            </ion-button>-->
                <!--                        </ion-col>-->
                <!--                    </ion-row>-->
                <!--                </ion-grid>-->



            </div>
        </div>
    </ion-content>
</ion-app>