
.menu_link {
  color: #757575;
}

.menu_link:hover {
  color: #3a7be0;
}

.bottom_text {
  font-size: 4vw;
}

.bottom_text:hover {
  font-size: 4vw;
  color: #ff4961;
}

//.icon_color {
//  color: white;
//}

.icon_color:hover {
  color: #ff4961;
}

.bottom_icon{
  font-size: 8vw;
  color: #ff4961;
}
.bottom_icon:hover{
  font-size: 8vw;
  color: #ff4961;
}