
.menu_link {
  color: #757575;
}

.menu_link:hover {
  color: #3a7be0;
}

.icon_color {
  font-size: 5vw;
  color: whitesmoke;
}

.icon_color:hover {
  font-size: 5vw;
  color: white;
}

.bottom_icon {
  font-size: 4vw;
  color: whitesmoke;
}

.bottom_icon:hover {
  font-size: 4vw;
  color: white;
}