
.menu_link {
  color: #757575;
}

.menu_link:hover {
  color: #3a7be0;
}

.icon_color {
  //font-size: 5vw;
  color: #3a7be0;
  //background-color: #3a7be0;
}

//.icon_color:hover {
//  font-size: 5vw;
//  color: white;
//}

.bottom_icon {
  font-size: 4vw;
  color: #86888f;
}

.bottom_icon:hover {
  font-size: 4vw;
  color: #0070C9;
}

//.ion_icon{
//  color: #3a7be0;
//}
