<ion-menu side="start" content-id="main-content">

    <ion-content>
        <ion-list>

            <ion-menu-toggle auto-hide="true">
                <ion-item (click)="profile()" routerDirection="forward">
                    <ion-icon name="person-outline" slot="start"></ion-icon>
                    <div>
                        <ion-text style="font-size: 6vw; color:#eb445a;">Profile Name</ion-text>
                        <br>
                        <ion-text style="font-size: 4vw;">Email@gmail.com</ion-text>
                    </div>
                </ion-item>

                <ion-item class="menu_link">
                    <ion-icon name="heart-outline" slot="start"></ion-icon>
                    <ion-label>Favorite</ion-label>
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-item>

                <ion-item class="menu_link" (click)="myorders()" routerDirection="forward">
                    <ion-icon name="layers-outline" slot="start"></ion-icon>
                    <ion-label>My Order</ion-label>
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-item>

<!--                <ion-item class="menu_link">-->
<!--                    <ion-icon name="help-circle-outline" slot="start"></ion-icon>-->
<!--                    <ion-label>Help & Support</ion-label>-->
<!--                </ion-item>-->

                <ion-item class="menu_link">
                    <ion-icon name="receipt-outline" slot="start"></ion-icon>
                    <ion-label>Terms & Policy</ion-label>
                </ion-item>

                <ion-item class="menu_link">
                    <ion-icon name="share-social-outline" slot="start"></ion-icon>
                    <ion-label>Share</ion-label>
                </ion-item>

<!--                <ion-item class="menu_link">-->
<!--                    <ion-icon name="cog-outline" slot="start"></ion-icon>-->
<!--                    <ion-label>Settings</ion-label>-->
<!--                    <ion-icon name="chevron-forward-outline"></ion-icon>-->
<!--                </ion-item>-->

                <ion-item class="menu_link" (click)="logout()" routerDirection="forward">
                    <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon>
                    <ion-label>Log Out</ion-label>
                </ion-item>


            </ion-menu-toggle>

        </ion-list>
    </ion-content>

</ion-menu>


<div class="ion-page" id="main-content" color="dark">

    <ion-header>
        <ion-toolbar class="nav_bar">

            <ion-buttons slot="start">
                <ion-menu-button class="icon_color" ></ion-menu-button>
                <ion-button></ion-button>
                <ion-button></ion-button>
                <ion-button></ion-button>
                <ion-button></ion-button>
                <ion-button></ion-button>
                <ion-button></ion-button>
                <ion-button></ion-button>
                <ion-button></ion-button>
                <ion-button></ion-button>
                <ion-button></ion-button>
                <ion-button class="bottom_icon">
                    <ion-icon name="funnel"></ion-icon>

                </ion-button>

                <ion-button  class="bottom_icon" (click)="cart()" routerDirection="forward">
                    <ion-icon name="cart" ></ion-icon>
                </ion-button>
            </ion-buttons>


        </ion-toolbar>
    </ion-header>
    <ion-tabs>

        <ion-tab-bar slot="bottom" color="light">
            <ion-tab-button></ion-tab-button>
            <ion-tab-button class="bottom_icon" tab="tab1">
                <ion-icon name="home" ></ion-icon>
                <ion-label >Home</ion-label>
            </ion-tab-button>

            <ion-tab-button></ion-tab-button>

            <ion-tab-button class="bottom_icon"  (click)="restaurant()" routerDirection="forward">
                <ion-icon name="fast-food"  ></ion-icon>
                <ion-label >Restaurants</ion-label>

            </ion-tab-button>

            <ion-tab-button></ion-tab-button>

        </ion-tab-bar>

    </ion-tabs>

</div>
