<!--<ion-header>-->
<!--    <ion-toolbar>-->
<!--        <ion-title>cart</ion-title>-->
<!--    </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>

    <h1 class="heading">Cart</h1>

    <ion-grid class="main_grid">
        <ion-row>
            <ion-col size="3" class="cart_image">
                <div class="cart_image">
                    <img class="cart_image" src="/assets/cart.png">
                </div>
            </ion-col>

            <ion-col size="7">
                <div>
                    <ion-text style="color: #383a3e; font-size: 5vw;">Paneer Chilli</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 7vw;">₹200</ion-text>
                    <br>
                    <ion-text style="color: #999999;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>

            <ion-col></ion-col>
        </ion-row>
        <hr class="hr_line">
<ion-row>
    <ion-col>
            <ion-item>
            <ion-icon name="add-circle" ></ion-icon>
            <ion-input style="width: 10vw;" type="number" min="1" ></ion-input>
            <ion-icon name="remove-circle"></ion-icon>
        </ion-item>
            </ion-col>
</ion-row>
    </ion-grid>




    <ion-grid class="submit_btn">
        <ion-row>
            <ion-col>
                <div class="form-field">
                    <ion-button type="submit" expand="block" shape="round" color="danger">Checkout
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
