.rating {
  background-color: #2fdf75;
  color: white;
  font-size: 13px;
  width: 36px;
  height: 18px;
  z-index: 111;
  position: absolute;
  right: 8px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  //border-radius: 5px;
}

.first_row {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.circle_box {
  text-align: center;

}

.img_circle {
  content: url("../../assets/food2.jpeg");
  border-top-left-radius: 30px;
  //border-top-right-radius: 50px;
  width: 80px;
  height: 60px;
  box-shadow: 5px 5px 5px #999999;
  margin-right: auto !important;
  margin-left: auto !important;
}

.title_color {
  color: #3a7be0;
  font-size: 15px;
  font-family: Arial;
}

.price_color {
  margin-top: -12px;
  color: #2dd36f;
  font-size: 4vw;
}

.detail_color {
  margin-top: -10px;
  color: #999999;
  font-size: 3vw;
}

.restaurant_color {
  margin-top: -10px;
  font-size: 3vw;
  color: #383a3e;
}

.Add_button {
  background-color: #46A8FD;
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  width: 25vw;
}

//end top rated food

//start Restaurant

.restaurants_image {
  background-image: url("../../assets/sandwich.jpg");
  width: 100%;
  height: 30vh;
  padding-top: 0px;
  padding-bottom: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10%;
}

.bg_overlay {
  background-color: rgba(100, 100, 100, 0.5) !important;
  height: 30vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10%;
}

.shape_overlay {
  background-color: rgb(0, 128, 128, 0.5) !important;
  height: 7vh;
  width: 15vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
  //border-radius: 20px;

}


.button_overlay {
  text-align: center;
  height: 100px;
  //border-top-left-radius: 40px;
  //border-top-right-radius: 40px;
  background-color: rgb(0, 128, 128, 0.5) !important;
}

.pureveg {
  color: white;
  font-size: 12px;
  margin-bottom: 50px;
  text-decoration: none;

}

.restaurant_detail {
  width: 50px;
  color: whitesmoke;
}

.restaurant_button {
  background-color: #0070C9;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 30px;
  cursor: pointer;
  width: 80vw;
}

// Restaurant end


// start Food

.image_grid {
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid red;
}

.all_data {
  //border: 1px solid #999999;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  //box-shadow: 5px 5px #999999;
  // margin-right: auto !important;
  //margin-left: auto !important;

}

.square_image {
  content: url("../../assets/food2.jpeg");
  border-radius: 20px;
  //border-top-left-radius: 30px;
  //border-top-right-radius: 50px;
  width: 80px;
  height: 60px;
  margin-right: auto !important;
  margin-left: auto !important;

}

// End Food
