<ion-header>
    <ion-toolbar>
        <ion-title>Home Page</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid></ion-grid>
    <ion-grid >
        <ion-row>
            <ion-slides>
                <ion-slide>

                        <ion-col></ion-col>
                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>

                        </ion-col>

                        <ion-col></ion-col>


                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>
                        </ion-col>

                        <ion-col></ion-col>


                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>
                        </ion-col>

                        <ion-col></ion-col>
                </ion-slide>

                <ion-slide>

                        <ion-col></ion-col>
                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>

                        </ion-col>

                        <ion-col></ion-col>


                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>
                        </ion-col>

                        <ion-col></ion-col>


                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>
                        </ion-col>

                        <ion-col></ion-col>

                 </ion-slide>

                 <ion-slide>

                        <ion-col></ion-col>
                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>

                        </ion-col>

                        <ion-col></ion-col>


                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>
                        </ion-col>

                        <ion-col></ion-col>


                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>
                        </ion-col>

                        <ion-col></ion-col>
                </ion-slide>

                <ion-slide>

                        <ion-col></ion-col>
                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>

                        </ion-col>

                        <ion-col></ion-col>


                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>
                        </ion-col>

                        <ion-col></ion-col>


                        <ion-col class="circle_box">
                            <div class="img_circle">
                                <img class="img_circle" src="/assets/icon/foodlogo.png">
                            </div>
                            <div>
                                <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                                <br>
                                <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                                <br>
                                <ion-text style="color: #999999; font-size: 3vw;">Delicious Food </ion-text>
                            </div>
                        </ion-col>

                        <ion-col></ion-col>

                 </ion-slide>
            </ion-slides>

        </ion-row>

    </ion-grid>

    <!--    end image circle-->

    <!--    <hr class="hr_row">-->
    <ion-grid></ion-grid>

    <!--    Restaurants -->
<ion-slides>
    <ion-slide>
        <ion-grid>
        <ion-row>
            <ion-col>
                <div class="bg_color">
                    <div >
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay1"></div>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay1"></div>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay"> </div>
                        <div class="button_overlay">
                            <ion-button style="width:200px; height:40px; " color="success">Restaurant Name</ion-button></div>
                           </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-slide>

    <ion-slide>
        <ion-grid>
        <ion-row>
            <ion-col>
                <div class="bg_color">
                    <div >
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay1"></div>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay1"></div>
                         <ion-grid></ion-grid>
                            <div class="shape_overlay"></div>
                        <div class="button_overlay"><ion-button style="width:200px" color="success">Restaurant Name</ion-button></div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-slide>
</ion-slides>

<!--    <ion-grid class="image_grid">-->
<!--        <ion-row style="height:100px;">-->
<!--            <ion-slides>-->
<!--                <ion-slide>-->
<!--                    <ion-col>-->
<!--                        <div class="banner">-->
<!--                            <img class="banner" src="/assets/sandwich.jpg">-->
<!--                        </div>-->
<!--                    </ion-col>-->

<!--                    <ion-col></ion-col>-->

<!--                    <ion-col>-->
<!--                        <div class="banner">-->
<!--                            <img class="banner" src="assets/sandwich.jpg">-->
<!--                        </div>-->
<!--                    </ion-col>-->
<!--                </ion-slide>-->
<!--            </ion-slides>-->
<!--        </ion-row>-->
<!--    </ion-grid>-->




    <!--    end Restaurants banner-->


    <ion-grid></ion-grid>



    <ion-grid class="image_grid">
        <ion-row>
            <ion-col></ion-col>
            <ion-col class="all_data">
                <div class="square_image">
                    <img class="square_image" src="/assets/food2.jpeg">
                </div>
                <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>

            <ion-col></ion-col>

            <ion-col class="all_data">
                <div class="square_image">
                    <img class="square_image" src="assets/food2.jpeg">
                </div>
                <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>

            <ion-col></ion-col>


            <ion-col class="all_data">
                <div class="square_image">
                    <img class="square_image" src="assets/food2.jpeg">
                </div>
                <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>
            <ion-col></ion-col>

        </ion-row>
    </ion-grid>

    <ion-grid class="image_grid">
        <ion-row>
            <ion-col></ion-col>

            <ion-col class="all_data">
                <div class="square_image">
                    <img class="square_image" src="/assets/food2.jpeg">
                </div>
                <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>

            <ion-col></ion-col>

            <ion-col class="all_data">
                <div class="square_image">
                    <img class="square_image" src="assets/food2.jpeg">
                </div>
                <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>

            <ion-col></ion-col>


            <ion-col class="all_data">
                <div class="square_image">
                    <img class="square_image" src="assets/food2.jpeg">
                </div>
                <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>
            <ion-col></ion-col>

        </ion-row>
    </ion-grid>

    <ion-grid class="image_grid">
        <ion-row>
            <ion-col></ion-col>

            <ion-col class="all_data">
                <div class="square_image">
                    <img class="square_image" src="/assets/food2.jpeg">
                </div>
                <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>

            <ion-col></ion-col>

            <ion-col class="all_data">
                <div class="square_image">
                    <img class="square_image" src="assets/food2.jpeg">
                </div>
                <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>

            <ion-col></ion-col>


            <ion-col class="all_data">
                <div class="square_image">
                    <img class="square_image" src="assets/food2.jpeg">
                </div>
                <div>
                    <ion-text style="color: #383a3e; font-size: 4vw;">Sandwich</ion-text>
                    <br>
                    <ion-text style="color: #2dd36f; font-size: 4vw;">₹160</ion-text>
                    <br>
                    <ion-text style="color: #999999; font-size: 3vw;">Delicious Food Forever</ion-text>
                </div>
            </ion-col>
            <ion-col></ion-col>

        </ion-row>
    </ion-grid>


</ion-content>
