<ion-app>
    <ion-content style="margin-top: 10%;">

        <!--     <ion-list>-->

        <!--          <ion-item *ngFor="let item of items">-->

        <!--      <ion-thumbnail item-center>-->
        <!--        <img src="{{item.thumbnailImageUrl}}" alt="{{item.recipeName}}" title="{{item.recipeName}}" />-->
        <!--      </ion-thumbnail>-->

        <!--      <h2 class="recipe-name">{{item.recipeName}}</h2>-->
        <!--      <span class="cooking-time">Cooking Time:</span>-->

        <!--      <span class="cooking-time-value">{{item.totalTimeInSeconds / 60}} min</span>-->

        <!--    </ion-item>-->

        <!--     </ion-list>-->

        <ion-grid>
            <ion-row>

                <ion-col>
                    <img  class="img_size" src="../../assets/sandwich.jpg" alt="sandwich">
                </ion-col>
                <ion-col>
                     <img  class="img_size" src="../../assets/sandwich.jpg" alt="sandwich">
                </ion-col>
                <ion-col>
                     <img  class="img_size" src="../../assets/sandwich.jpg" alt="sandwich">
                </ion-col>
                <ion-col>
                     <img  class="img_size" src="../../assets/sandwich.jpg" alt="sandwich">
                </ion-col>
                <ion-col>
                     <img  class="img_size" src="../../assets/sandwich.jpg" alt="sandwich">
                </ion-col>
                <ion-col>
                     <img  class="img_size" src="../../assets/sandwich.jpg" alt="sandwich">
                </ion-col>
                <ion-col>
                     <img  class="img_size" src="../../assets/sandwich.jpg" alt="sandwich">
                </ion-col>
                <ion-col>
                     <img  class="img_size" src="../../assets/sandwich.jpg" alt="sandwich">
                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-content>
</ion-app>
