<ion-header>
    <ion-toolbar>
        <ion-title>Home Page</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid >
        <ion-row>
            <ion-slides>
                <ion-slide>



                        <ion-col class="circle_box">
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>

                            <div>
                                <ion-text  class="title_color"> Food Title</ion-text>
                                <br>
                                <ion-text class="price_color">Price</ion-text>
                                <br>
                                <ion-text class="detail_color">Food Detail</ion-text>
                                <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>

                            <input  class="Add_button" type="button" value="Add+">
                        </ion-col>




                        <ion-col class="circle_box">
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>
                             <div>
                                <ion-text  class="title_color"> Sandwich</ion-text>
                                <br>
                                <ion-text class="price_color">₹160</ion-text>
                                <br>
                                <ion-text class="detail_color">Delicious Food </ion-text>
                                  <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>
                            <input  class="Add_button" type="button" value="Add+">

                        </ion-col>



                        <ion-col class="circle_box" >
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>
                            <div>
                                <ion-text  class="title_color"> Sandwich</ion-text>
                                <br>
                                <ion-text class="price_color">₹160</ion-text>
                                <br>
                                <ion-text class="detail_color">Delicious Food </ion-text>
                                 <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>
                            <input  class="Add_button" type="button" value="Add+">
                        </ion-col>

                </ion-slide>

                <ion-slide>

                        <ion-col class="circle_box" >
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>
                             <div>
                                <ion-text  class="title_color"> Sandwich</ion-text>
                                <br>
                                <ion-text class="price_color">₹160</ion-text>
                                <br>
                                <ion-text class="detail_color">Delicious Food </ion-text>
                                  <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>
                            <input  class="Add_button" type="button" value="Add+">
                        </ion-col>


                        <ion-col class="circle_box" >
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>
                            <div>
                                <ion-text  class="title_color"> Sandwich</ion-text>
                                <br>
                                <ion-text class="price_color">₹160</ion-text>
                                <br>
                                <ion-text class="detail_color">Delicious Food </ion-text>
                                 <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>
                            <input  class="Add_button" type="button" value="Add+">
                        </ion-col>



                        <ion-col class="circle_box" >
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>
                             <div>
                                <ion-text  class="title_color"> Sandwich</ion-text>
                                <br>
                                <ion-text class="price_color">₹160</ion-text>
                                <br>
                                <ion-text class="detail_color">Delicious Food </ion-text>
                                 <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>
                            <input  class="Add_button" type="button" value="Add+">

                        </ion-col>


                 </ion-slide>

                 <ion-slide>

                        <ion-col class="circle_box">
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>
                             <div>
                                <ion-text  class="title_color"> Sandwich</ion-text>
                                <br>
                                <ion-text class="price_color">₹160</ion-text>
                                <br>
                                <ion-text class="detail_color">Delicious Food </ion-text>
                                  <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>
                            <input  class="Add_button" type="button" value="Add+">

                        </ion-col>



                        <ion-col class="circle_box">
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>
                             <div>
                                <ion-text  class="title_color"> Sandwich</ion-text>
                                <br>
                                <ion-text class="price_color">₹160</ion-text>
                                <br>
                                <ion-text class="detail_color">Delicious Food </ion-text>
                                 <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>
                            <input  class="Add_button" type="button" value="Add+">
                        </ion-col>



                        <ion-col class="circle_box">
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>
                             <div>
                                <ion-text  class="title_color"> Sandwich</ion-text>
                                <br>
                                <ion-text class="price_color">₹160</ion-text>
                                <br>
                                <ion-text class="detail_color">Delicious Food </ion-text>
                                 <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>
                            <input  class="Add_button" type="button" value="Add+">
                        </ion-col>

                </ion-slide>

                <ion-slide>

                        <ion-col class="circle_box" >
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>
                             <div>
                                <ion-text  class="title_color"> Sandwich</ion-text>
                                <br>
                                <ion-text class="price_color">₹160</ion-text>
                                <br>
                                <ion-text class="detail_color">Delicious Food </ion-text>
                                 <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>
                            <input  class="Add_button" type="button" value="Add+">
                        </ion-col>



                        <ion-col class="circle_box" >
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>
                             <div>
                                <ion-text  class="title_color"> Sandwich</ion-text>
                                <br>
                                <ion-text class="price_color">₹160</ion-text>
                                <br>
                                <ion-text class="detail_color">Delicious Food </ion-text>
                                 <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>
                            <input  class="Add_button" type="button" value="Add+">
                        </ion-col>



                        <ion-col class="circle_box">
                            <span class="rating">4.5</span>
                            <div class="img_circle"></div>
                             <div>
                                <ion-text  class="title_color"> Sandwich</ion-text>
                                <br>
                                <ion-text class="price_color">₹160</ion-text>
                                <br>
                                <ion-text class="detail_color">Delicious Food </ion-text>
                                 <br>
                                <ion-text class="restaurant_color">Restaurant name</ion-text>
                            </div>
                            <input  class="Add_button" type="button" value="Add+">
                        </ion-col>


                 </ion-slide>
            </ion-slides>

        </ion-row>

    </ion-grid>

    <!--    end Top rated Food -->

    <ion-grid></ion-grid>


    <!--    start Restaurants -->
<ion-slides>

    <ion-slide>
        <ion-grid>
        <ion-row>
            <ion-col>
                <div class="restaurants_image">
                    <div >
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay1_2">
                            <ion-icon style="width:15px;" name="star" color="warning"></ion-icon>
                            <ion-icon style="width:15px;" name="star" color="warning"></ion-icon>
                            <ion-icon style="width:15px;" name="star" color="warning"></ion-icon>
                            <ion-icon style="width:15px;" name="star-outline" color="warning"></ion-icon>
                            <ion-icon style="width:15px;" name="star-outline" color="warning"></ion-icon>
                            </div>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay1_2">
                                <ion-text><ion-icon style="width:20px;" name="stop-circle" color="success"></ion-icon></ion-text>
                                <b class="contain">Pure Veg.</b>
                            </div>
                        <ion-grid></ion-grid>
                        <div class="shape_overlay">Restaurant Address</div>
                        <div class="button_overlay"></div>
                             <div class="button_overlay">
                                 <input class="restaurant_button" type="button" value="Restaurant Name"></div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-slide>

    <ion-slide>
        <ion-grid>
        <ion-row>
            <ion-col>
                <div class="restaurants_image">
                    <div >
                        <ion-grid></ion-grid>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay1_2">
                            <ion-icon style="width:15px;" name="star" color="warning"></ion-icon>
                            <ion-icon style="width:15px;" name="star" color="warning"></ion-icon>
                            <ion-icon style="width:15px;" name="star" color="warning"></ion-icon>
                            <ion-icon style="width:15px;" name="star-outline" color="warning"></ion-icon>
                            <ion-icon style="width:15px;" name="star-outline" color="warning"></ion-icon>
                            </div>
                        <ion-grid></ion-grid>
                            <div class="shape_overlay1_2">
                                <ion-text><ion-icon style="width:20px;" name="stop-circle" color="success"></ion-icon></ion-text>
                                <b class="contain">Pure Veg.</b>
                            </div>
                        <ion-grid></ion-grid>
                        <div class="shape_overlay">Restaurant Address</div>
                        <div class="button_overlay"></div>
                             <div class="button_overlay">
                                 <input class="restaurant_button" type="button" value="Restaurant Name"></div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-slide>


</ion-slides>


    <!--    end Restaurants -->


    <ion-grid></ion-grid>

<!--------------------start Random food--------------->

    <ion-grid class="image_grid">
        <ion-row >
            <ion-col class="all_data" size="4">
                 <span class="rating">4.5</span>
                <div class="square_image"></div>
                <div>
                    <ion-text  class="title_color"> Sandwich</ion-text>
                    <br>
                    <ion-text class="price_color">₹160</ion-text>
                    <br>
                    <ion-text class="detail_color">Delicious Food </ion-text>
                    <br>
                    <ion-text class="restaurant_color">Restaurant name</ion-text>
                </div>
                 <input  class="Add_button" type="button" value="Add+">
            </ion-col>


            <ion-col class="all_data" size="4">
                 <span class="rating">4.5</span>
                <div class="square_image" ></div>
                <div>
                    <ion-text  class="title_color"> Sandwich</ion-text>
                    <br>
                    <ion-text class="price_color">₹160</ion-text>
                    <br>
                    <ion-text class="detail_color">Delicious Food </ion-text>
                    <br>
                    <ion-text class="restaurant_color">Restaurant name</ion-text>
                </div>
                 <input  class="Add_button" type="button" value="Add+">
            </ion-col>



            <ion-col class="all_data" size="4">
                 <span class="rating">4.5</span>
                <div class="square_image"></div>
                <div>
                    <ion-text  class="title_color"> Sandwich</ion-text>
                    <br>
                    <ion-text class="price_color">₹160</ion-text>
                    <br>
                    <ion-text class="detail_color">Delicious Food </ion-text>
                    <br>
                    <ion-text class="restaurant_color">Restaurant name</ion-text>
                </div>
                 <input  class="Add_button" type="button" value="Add+">
            </ion-col>

            <ion-col class="all_data" size="4">
                 <span class="rating">4.5</span>
                <div class="square_image" ></div>
                <div>
                    <ion-text  class="title_color"> Sandwich</ion-text>
                    <br>
                    <ion-text class="price_color">₹160</ion-text>
                    <br>
                    <ion-text class="detail_color">Delicious Food </ion-text>
                    <br>
                    <ion-text class="restaurant_color">Restaurant name</ion-text>
                </div>
                 <input  class="Add_button" type="button" value="Add+">
            </ion-col>



            <ion-col class="all_data" size="4">
                 <span class="rating">4.5</span>
                <div class="square_image"></div>
                <div>
                    <ion-text  class="title_color"> Sandwich</ion-text>
                    <br>
                    <ion-text class="price_color">₹160</ion-text>
                    <br>
                    <ion-text class="detail_color">Delicious Food </ion-text>
                    <br>
                    <ion-text class="restaurant_color">Restaurant name</ion-text>
                </div>
                 <input  class="Add_button" type="button" value="Add+">
            </ion-col>

        </ion-row>
    </ion-grid>

<!---------------------End Random Food----------------->

</ion-content>
