.first_row{
 text-align: center;
  justify-content: center;
  align-items: center;

}

.circle_box{
//display: flex;
//  border: 1px solid #999999;
  border-radius: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;

}
.img_circle{
  border-radius: 50%;
  //border: 1px solid #b8b8b8;
  width: 60px;
  height:60px;
}

.hr_row{
  background-color: #b8b8b8;
  width: 70%;
  border: 0px;
  padding: 0px;
}

.banner{
  border-radius: 10%;
  border: 1px solid #b8b8b8;
  width: 150px;
  height:80px;
}
.bg_color {
  background-image: url("../../assets/sandwich.jpg");
  width: 100%;
  height: 30vh;
  padding-top: 0px;
  padding-bottom: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10%;
}
.bg_overlay {
  background-color: rgba(100  , 100, 100, 0.5) !important;
  height: 30vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10%;
  //align-items: center;
  //text-align: center;
}

.shape_overlay {
  background-color: rgba(100  , 100, 100, 0.5) !important;
  height: 6vh;
  //width: 1vw;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;

}
.shape_overlay1{
   background-color: rgba(100  , 100, 100, 0.3) !important;
  height: 7vh;
  width: 12vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.button_overlay{
  text-align: center;
}



.square_image{
  border-radius: 30%;
  //border: 1px solid #b8b8b8;
  width: 80px;
  height:60px;

}



.image_grid{
  display: flex;
  justify-content: center;
  align-items: center;
}

.all_data{
  //border: 1px solid #999999;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px #888888;

}