
#bg_color {
  background-image: url("../../assets/sandwich.jpg");
  width: auto;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-repeat: no-repeat;

}


.img_size{

  border-radius: 50%;
  width:200px;
  height: 200px;
}