
.heading_bar{
  background-color: #ff4961;
  margin-top: 8%;
  height: 15%;
}

.circle_bar{
  text-align: center;
}

.img_circle{
  border-radius: 50%;
  border: 1px solid #b8b8b8;
  width: 100px;
  height:100px;
  margin-top: 5%;
}

.heading_text{
  font-size:8vw;
  color: #ff4961;
  text-align: center;
}

.submit-btn {
  color: #8CB4CD;
  text-align: center;
}

.select_option {
  color: #9b9b9b;
}

.main_grid {

  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

.center_input {
}
