.all_data{
}

.square_image{
  content:url("../../assets/food2.jpeg");
  width: 110px;
  height:80px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.title_color{
  color: #46b0e0;
  font-size: 5vw;
  font-family: Arial;
}

.price_color{
  color: #2dd36f;
  font-size: 11px;
}

.detail_color{
  color: #999999;
  font-size: 12px;
}
.restaurant_color{
  color: #383a3e;
  font-size: 14px;
}
.rating {
  background-color: #2fdf75;
  color: white;
  font-size: 15px;
  width: 40px;
  height: 20px;
  z-index: 111;
  position: absolute;
  right: 8px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;

}
.icon_size{
  color: #2fdf75;
  font-size: 30px;
  float: right;
  text-align: center
}
.icon_size:hover{
  color: #3a7be0;
}

.icon_text{
  margin-top: -5px;
  color: #2fdf75;
  font-size: 10px;
  font-weight: bold;
}
.icon_text:hover{
  color: #3a7be0;
}
